name: Build and deploy to Vercel

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_and_deploy:
    environment:
      name: vercel
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Elixir
        uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9
        with:
          elixir-version: '1.17.3'
          otp-version: '27.1'

      - name: Install dependencies
        run: mix deps.get

      - name: Compile
        run: mix compile

      - name: Check format
        run: mix format --check-formatted

      - name: Run credo
        run: mix credo

      - name: Publish to Vercel
        uses: amondnet/vercel-action@v25.2.0
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          working-directory: output
          vercel-args: '--prod'
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

